@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

nav
{
  padding:40px 0px 0px 0px ;
  flex:var(--sidebar-flex);
  color: black;
  background: rgb(250, 229, 38);
  background: linear-gradient(180deg, rgb(250, 229, 38) 50%, rgb(236, 220, 72) 80%);
}
.condiv
{
  padding: 50px ;
  background-color: #000000;
  color:#ff0000;
  flex:var(--condiv-flex);
}

.lesspad
{
  padding: 1px ;
}

.dataTable .table{
  color: #ff0000;
}

.dataTable .label{
  color: #ff0000;
}

.dataTable .pagination .page-item .page-link {
  color: #ff0000;
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.homepic
{
  border-radius: 50%;
  width: 400px;
  margin: 10px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
nav ul li
{
  margin:40px;
}

a
{
  text-decoration: none;
  color:red;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}



.active
{
  font-weight: bolder;
}
.india ul li
{
  list-style-type:none;
  margin:30px;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    color: black;
    background: rgb(250, 229, 38);
    background: linear-gradient(180deg, rgb(250, 229, 38) 50%, rgb(236, 220, 72) 80%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
    color: black;
  }
  nav ul li
  {
    margin: 10px;
    color: black;
  }
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}


.mapboxgl-popup {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #424242;
}

.mapboxgl-popup-content {
  padding: 1rem;
  margin: 0;
}

.mapboxgl-popup-content *{
    margin: 0 0 0.5rem;
    padding: 0;
}

.mapboxgl-popup-content:last-child {
      margin-bottom: 0;
    }

.mapboxgl-popup-content p {
    border-bottom: 1px solid rgba(black, 0.2);
}

.mapboxgl-popup-content p b {
      font-size: 1.6rem;
      color: #212121;
      padding: 0 5px;
    }

.mapboxgl-popup-content img {
    display: block;
    width: 3rem;
    height: 3rem;
}